textarea {
    min-height: 400px;
}

.cont-samll{
    width: 70% !important;  
    float: left;
}
@media  screen and (max-width: 770px) {

    .cont-samll{
       width: 100% !important;
    clear: both !important;
    
    }


  }
